<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina deshboard</title>
</head>
<body>
    <h1>bem vindo</h1>
    <h4>pagina autenticada</h4>
    <a href="/logout">sair</a>
</body>
</html>